### Challenge Part 2 Instructions:
### Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation¶

In [1]:
import pandas as pd
import gmaps
import requests
import os
import csv

from config_challenge import g_key

In [2]:
city_data_df = pd.read_csv("./data/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,mayo,US,38.89,-76.51,95.00,52,1,8.05,clear sky,0.00,0
1,1,punta arenas,CL,-53.15,-70.92,30.20,92,10,6.93,clear sky,0.00,0
2,2,cap malheureux,MU,-19.98,57.61,66.99,68,76,3.00,light rain,0.13,0
3,3,geraldton,AU,-28.77,114.60,51.80,87,0,10.29,clear sky,0.00,0
4,4,puerto ayora,EC,-0.74,-90.35,77.00,65,75,6.93,broken clouds,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
561,561,aksu,CN,41.12,80.26,78.71,30,100,13.71,overcast clouds,0.00,0
562,562,olafsvik,IS,64.89,-23.71,50.16,70,100,3.49,overcast clouds,0.00,0
563,563,plettenberg bay,ZA,-34.05,23.37,61.09,50,0,7.25,clear sky,0.00,0
564,564,cayenne,GF,4.93,-52.33,87.80,62,75,6.93,broken clouds,0.00,0
565,565,asosa,ET,10.07,34.53,60.49,100,100,1.74,light rain,0.17,0

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)            int64
dtype: object

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Enter max temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?60
What is the maximum temperature you would like for your vacation?100

In [6]:
# Ask the customer if they want it raining/snowing or not.
yes_no_rain = (input("Do you want it to be raining? (yes/no)"))
yes_no_snow = (input("Do you want it to be snowing? (yes/no)"))

Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)no

In [7]:
if yes_no_rain == "no" and yes_no_snow == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] == 0)]

elif yes_no_rain == "no" and yes_no_snow == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] >= 0.0)]

elif yes_no_rain == "yes" and yes_no_snow == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] == 0)]

else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] > 0)]

In [8]:
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,mayo,US,38.89,-76.51,95.00,52,1,8.05,clear sky,0.0,0
4,4,puerto ayora,EC,-0.74,-90.35,77.00,65,75,6.93,broken clouds,0.0,0
5,5,rikitea,PF,-23.12,-134.97,66.27,60,98,16.78,overcast clouds,0.0,0
6,6,mumford,GH,5.26,-0.76,75.58,92,11,10.67,few clouds,0.0,0
8,8,veraval,IN,20.90,70.37,83.86,79,100,8.55,overcast clouds,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
558,558,hervey bay,AU,-25.30,152.85,61.00,67,90,8.05,overcast clouds,0.0,0
559,559,hailey,US,43.52,-114.32,81.00,34,5,10.29,clear sky,0.0,0
561,561,aksu,CN,41.12,80.26,78.71,30,100,13.71,overcast clouds,0.0,0
563,563,plettenberg bay,ZA,-34.05,23.37,61.09,50,0,7.25,clear sky,0.0,0
564,564,cayenne,GF,4.93,-52.33,87.80,62,75,6.93,broken clouds,0.0,0

In [9]:
filtered_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,mayo,US,38.89,-76.51,95.00,52,1,8.05,clear sky,0.0,0
4,4,puerto ayora,EC,-0.74,-90.35,77.00,65,75,6.93,broken clouds,0.0,0
5,5,rikitea,PF,-23.12,-134.97,66.27,60,98,16.78,overcast clouds,0.0,0
6,6,mumford,GH,5.26,-0.76,75.58,92,11,10.67,few clouds,0.0,0
8,8,veraval,IN,20.90,70.37,83.86,79,100,8.55,overcast clouds,0.0,0

In [10]:
filtered_cities_df.count()

City_ID                359
City                   359
Country                356
Lat                    359
Lng                    359
Max Temp               359
Humidity               359
Cloudiness             359
Wind Speed             359
Current Description    359
Rain (inches)          359
Snow (inches)          359
dtype: int64

In [11]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,mayo,US,38.89,-76.51,95.00,52,1,8.05,clear sky,0.0,0
4,4,puerto ayora,EC,-0.74,-90.35,77.00,65,75,6.93,broken clouds,0.0,0
5,5,rikitea,PF,-23.12,-134.97,66.27,60,98,16.78,overcast clouds,0.0,0
6,6,mumford,GH,5.26,-0.76,75.58,92,11,10.67,few clouds,0.0,0
8,8,veraval,IN,20.90,70.37,83.86,79,100,8.55,overcast clouds,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
558,558,hervey bay,AU,-25.30,152.85,61.00,67,90,8.05,overcast clouds,0.0,0
559,559,hailey,US,43.52,-114.32,81.00,34,5,10.29,clear sky,0.0,0
561,561,aksu,CN,41.12,80.26,78.71,30,100,13.71,overcast clouds,0.0,0
563,563,plettenberg bay,ZA,-34.05,23.37,61.09,50,0,7.25,clear sky,0.0,0
564,564,cayenne,GF,4.93,-52.33,87.80,62,75,6.93,broken clouds,0.0,0

In [12]:
filtered_cities_df.count()

City_ID                356
City                   356
Country                356
Lat                    356
Lng                    356
Max Temp               356
Humidity               356
Cloudiness             356
Wind Speed             356
Current Description    356
Rain (inches)          356
Snow (inches)          356
dtype: int64

In [13]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,mayo,US,95.00,clear sky,38.89,-76.51,
4,puerto ayora,EC,77.00,broken clouds,-0.74,-90.35,
5,rikitea,PF,66.27,overcast clouds,-23.12,-134.97,
6,mumford,GH,75.58,few clouds,5.26,-0.76,
8,veraval,IN,83.86,overcast clouds,20.90,70.37,

In [14]:
params = {"radius": 5000, "type": "lodging", "key": g_key}

# Iterate through 
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel Not found...skipping...")

Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...
Hotel Not found...skipping...

In [15]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,mayo,US,95.00,clear sky,38.89,-76.51,Resorts Resource Group International
4,puerto ayora,EC,77.00,broken clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
5,rikitea,PF,66.27,overcast clouds,-23.12,-134.97,Pension Maro'i
6,mumford,GH,75.58,few clouds,5.26,-0.76,Spanish Villa
8,veraval,IN,83.86,overcast clouds,20.90,70.37,Lords Inn Somnath

In [16]:
output_data_file = "./data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
vacation_df = pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,mayo,US,95.00,clear sky,38.89,-76.51,Resorts Resource Group International
1,4,puerto ayora,EC,77.00,broken clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
2,5,rikitea,PF,66.27,overcast clouds,-23.12,-134.97,Pension Maro'i
3,6,mumford,GH,75.58,few clouds,5.26,-0.76,Spanish Villa
4,8,veraval,IN,83.86,overcast clouds,20.90,70.37,Lords Inn Somnath

In [18]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [19]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))